/* styles.css */
*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#Gradient_1{
    background-image: linear-gradient(to right, rgb(95, 107, 97) , rgb(75, 156, 95));
}
body, html, #app{
    height: 100%;
    width: 100%;
}
body {
   /*margin: 55px;*/
   background-color: rgba(85, 92, 83, 0.856);
}
.Gray_Box {
background-color: #333;
overflow: hidden;
border-radius: 15px;
margin-left: 25%;
margin-right: 25%;
margin-top: 15%;
}
#Index_EC{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    font-size: 350%;
    transition: 7s;
}
footer{
  text-align: center;
  background-color: #333;
  margin-bottom: 0%;
}
.multi-img{
    display: grid;
  column-gap: 50px;
}
.small-img{
    
    size: 40%;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
@media (max-width: 750px) {
.overview, .account {
flex-direction: column;
width: auto;
}
.overview {
margin: 0;
}
}